*.iml
.gradle
.idea
.kotlin
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
play_config.*
keystore.*
Gemfile.lock

**/*.xcodeproj/*
**/*.xcworkspace/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata
**/*.podspec

/iosApp/Podfile.lock
/iosApp/Pods
