*.iml
.gradle
.idea
.kotlin
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
play_config.*
keystore.*
Gemfile.lock

**/*.podspec

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings